<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAKiY4kwDsQoPaJYF3g_SNshzg-mc0qgiA</string>
	<key>GCM_SENDER_ID</key>
	<string>107151862342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.diagnal.TheMovieProject</string>
	<key>PROJECT_ID</key>
	<string>themovieproject-8e4cf</string>
	<key>STORAGE_BUCKET</key>
	<string>themovieproject-8e4cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:107151862342:ios:7ec1f4ac6280828d95f847</string>
</dict>
</plist>